pandas
numpy
matplotlib
scipy
scikit-learn
jupyter
ipykernel
yfinance
pandas-market-calendars

# app runtime
feedparser
praw
tenacity
loguru
openai
SQLAlchemy[asyncio]
asyncpg
ib_insync
psycopg2-binary
